[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/copycat-killer/lain
[submodule "base/.shrc.d/polyglot"]
	path = base/.shrc.d/polyglot
	url = https://github.com/agkozak/polyglot
[submodule "graphical/.config/fontconfig/conf.avail"]
	path = graphical/.config/fontconfig/conf.avail
	url = https://github.com/stove-panini/fontconfig-emoji
